<div class="container text-center mt-3">
    <p>Scrape Successful</p>
    <p>redirecting...</p>
    <a href="/">back</a>
</div>

<script>
  setTimeout(function () {
     // after 2 seconds
     window.location = "/";
  }, 1000)
</script>